<div class="page">
  <div class="table-responsive-md">
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th><input placeholder=" Name" (keyup)="showCharacterByName()" [(ngModel)]="nameStartsWith"></th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody class="errorMessage" *ngIf="characters.length === 0">
        <td colspan="2">
            <img src="assets/images/hulk.jpg" alt="image hulk" class="imgHulk" width='250px' height='200px'>
            <p><strong> Not Found !! Try again !!!</strong></p>
          </td>
      </tbody>
      <tbody>
        <tr *ngFor="let character of characters; let i = index" (click)="onViewCharacter(i)">
            <td>{{character.name | uppercase }}</td> 
            <td><img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" width='50px' height='50px'></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
