td {
    text-align: center;
    vertical-align: middle;
}
th {
    text-align: center;
}
table {
    font-family: Trebuchet MS;
    font-style: italic;
}
::-webkit-input-placeholder {
    text-align: center;
    font-family: Trebuchet MS;
    font-style: italic;
}
 
:-moz-placeholder { 
    text-align: center;  
}
 
::-moz-placeholder { 
    text-align: center;  
}
 
:-ms-input-placeholder {  
    text-align: center; 
}

.errorMessage {
    text-align: center;
    margin-top: 5%;
    background-color: black;
}
.imgHulk {
    border-radius: 5%;
    margin-top: 15%;
    margin-bottom: 2%;
}
p{
    color: white;
}