<div class="container">
    <div class="card">
      <img [src]="character[0]?.thumbnail.path + '.' + character[0]?.thumbnail.extension" width='200px' height='200px'>
      <div class="card-body">
        <h2>{{ character[0]?.name }}</h2>
        <br>
        <div *ngIf="character[0]?.description === ''">
          <img src="assets/images/fauve.jpg" alt="image fauve" class="imgfauve" width='250px' height='200px'>
          <p>I don't have description buddy !</p>
        </div>
        <p>{{ character[0]?.description }}</p>
        <br>
        <h3>Comics:</h3>
        <div *ngFor=" let comic of character[0]?.comics.items">
          <p>{{comic.name}}</p>
        </div>
      </div>
      <button class="btn btn-default" (click)="onBack()">Back</button>
    </div>
  </div>